{% extends "base.html" %}
{% block title %}¯\_(ツ)_/¯{% endblock title %}
{% block body %}
{% comment %} <h1 style="text-align: center; color: whitesmoke; margin-top:300px ; font-size: xxx-large;">Things are getting cooked | ¯\_(ツ)_/¯ | Will look good surely</h1> {% endcomment %}
<div class="container-fluid d-flex align-items-center justify-content-center my-1">
    <div class="row">
        <div class="col-md-12">
            {% comment %} <script type="module" src="https://unpkg.com/@splinetool/viewer@0.9.522/build/spline-viewer.js"></script>
            <spline-viewer loading-anim-type="spinner-small-dark" url="https://prod.spline.design/jXKd8FmsQAzChXAp/scene.splinecode"></spline-viewer> {% endcomment %}
            <script type="module" src="https://unpkg.com/@splinetool/viewer@0.9.522/build/spline-viewer.js"></script>
<spline-viewer loading-anim-type="spinner-big-light" url="https://prod.spline.design/rXsiTg5RfKwTz-uk/scene.splinecode"></spline-viewer>
        </div>
    </div>
</div>
<div class="container-fluid d-flex align-items-center justify-content-center my-1" style="color: aliceblue; text-align: center;">
    <h5>Found it cool so I attached it here!<br/>(For Mobile use 2 fingers to play through)</h5>
</div>
<script>
    window.onload = function() {
        var shadowRoot = document.querySelector('spline-viewer').shadowRoot;
        shadowRoot.querySelector('#logo').remove();
    }
</script>
{% endblock body %}